form{
    text-align: center;
}


button{
    margin: auto;
    display: block;
    height: 35px;
    width: 150px;
    background-color: #880909;;
    border-radius: 10px;
    font-size: ;
  }

  button a{
    text-decoration: none;
    color: white;
  }