   body{
    margin: 0px;
    padding: 0px;
   }




#banner {
        width: 100%;
}
 .titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: rgb(80, 3, 3);
    background-color: rgb(226, 197, 162);
    padding: 1px;

 }
  .titulo2{
   color: blueviolet;

  }